<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<footer class="common-footer">
							<div class="common-footer-wrap">
								<h3 class="hide">Footer</h3>

								<ul class="foot-nav">
									<li><a href="#">회사소개</a></li>
									<li><a href="#">고객의 소리</a></li>
									<li><a href="#" target="_blank">채용안내</a></li>
									<li><a href="#">서비스이용약관</a></li>
									<li><a href="#"><b>개인정보처리방침</b></a></li>
									<li><a href="#">이메일추출방지정책</a></li>
									<li><a href="#">영상정보처리기기운영관리방침</a></li>
									<li><a href="#" target="_blank">윤리경영</a></li>
								</ul>
							</div>
						</footer>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="widget">
						<h3 class="hide">Sources</h3>
						<ul class="foot-nav">
							<li><a href="/">홈페이지</a></li>
							<li><a href="/properties">객실안내</a></li>
							<li><a href="/services">예약</a></li>
							<li><a href="/location">찾아오는길</a></li>
							<li><a href="#">주변관광지</a></li>
							<li><a href="/noticeBoard_list">게시판</a></li>
							<a href="/reservationView" sec:authorize="isAuthenticated()"><li>예약조회</li></a>
							<a href="/login" sec:authorize="isAnonymous()"><li>로그인</li></a><br>
							<a href="/signUp" sec:authorize="isAnonymous()"><li>회원가입</li></a>
						</ul>
					</div>
					<!-- /.widget -->
				</div>

				<div class="col-lg-4">
					<div class="widget">
						<h3>Links</h3>

						<ul class="list-unstyled social">
							<li>
								<a href="https://www.instagram.com/" target="_blank"><span class="icon-instagram"></span></a>
							</li>
							<li>
								<a href="https://twitter.com/?lang=ko" target="_blank"><span class="icon-twitter"></span></a>
							</li>
							<li>
								<a href="https://www.facebook.com/?locale=ko_KR" target="_blank"><span class="icon-facebook"></span></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/" target="_blank"><span class="icon-linkedin"></span></a>
							</li>
							<li>
								<a href="https://www.pinterest.co.kr/" target="_blank"><span class="icon-pinterest"></span></a>
							</li>
							<li>
								<a href="https://dribbble.com/" target="_blank"><span class="icon-dribbble"></span></a>
							</li>
						</ul>
					</div>
					<!-- /.widget -->
				</div>
				<!-- /.col-lg-4 -->



				<div class="row mt-5">
					<div class="col-12 text-center">
						<p>
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							. All Rights Reserved. &mdash; Designed with love by
							<a href="https://untree.co">Untree.co</a>
							License information: https://untree.co/license/
						</p>
						<div>
							Distributed by
							<a href="https://themewagon.com/" target="_blank">themewagon</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/aos.js"></script>
		<script src="js/navbar.js"></script>
		<script src="js/counter.js"></script>
		<script src="js/custom.js"></script>

</th:block>

</html>