<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="Untree.co" />
		<link rel="shortcut icon" href="favicon.png" />

		<meta name="description" content="" />
		<meta name="keywords" content="bootstrap, bootstrap5" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" href="fonts/icomoon/style.css" />
		<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

		<link rel="stylesheet" href="css/tiny-slider.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/style.css" />

		<title>
			SUNSET RESORT
		</title>
	</head>

	<script>
		// JavaScript 코드
		document.addEventListener("DOMContentLoaded", function () {
			// 여기서 로그인 상태를 확인하는 방법에 따라 isUserLoggedIn() 함수를 사용합니다.
			// 이 함수는 로그인 상태를 확인하는 사용자 정의 함수여야 합니다.

			if (isUserLoggedIn()) {
				// 로그인 상태인 경우 회원가입 <li> 엘리먼트를 숨깁니다.
				document.getElementById("signup-li").style.display = "none";
			} else {
				// 로그아웃 상태인 경우 회원가입 <li> 엘리먼트를 보이게 합니다.
				document.getElementById("signup-li").style.display = "block";
			}
		});
	</script>


	<body>


		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close">
					<span class="icofont-close js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>

		<nav class="site-nav">
			<div class="container">
				<div class="menu-bg-wrap">
					<div class="site-navigation">
						<a href="/" class="logo m-0 float-start">SUNSET RESORT</a>
						<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
							<li class="active"><a href="/">홈페이지</a></li>

							<li class="has-children">
								<a href="/properties">객실안내</a>
								<ul class="dropdown">
									<li><a href="#">TOP SUITE ROOM</a></li>
									<li><a href="#">FAMILY ROOM</a></li>
									<li><a href="#">BUSINESS ROOM</a></li>
									<li><a href="#">STANDARD ROOM</a></li>
								</ul>
							</li>

							<li><a href="/reserveCalendar">&nbsp;예약</a></li>

							<li class="has-children">
								<a href="/location">찾아오는길</a>
								<ul class="dropdown">
									<li><a href="#">찾아오는길</a></li>
									<li><a href="#">대중교통이용</a></li>
									<li><a href="#">자가용이용</a></li>
								</ul>
							</li>

							<!--<li class="has-children">
								<a href="#">주변관광지</a>
								<ul class="dropdown">
									<li><a href="#">Tour</a></li>
									<li><a href="#">Festival</a></li>
								</ul>
							</li>-->

							<li><a href="/noticeBoard_list">게시판</a></li>

							<li><a href="/reserve_ADMIN_list" sec:authorize="hasRole('ADMIN')">예약조회</a></li>
							<li><a href="/reserve_USER_list" sec:authorize="hasRole('USER')">예약조회</a></li>

							<li>
								<a class="nav-link"th:text="${#authorization.expression('isAuthenticated()') ? #authentication.name : ''}"></a>
								<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
								<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
							</li>
							<li id="signup-li">
								<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/signUp}">회원가입</a>
							</li>
						</ul>

						<a href="#"
							class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
							data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
		</nav>

	</body>

</html>