<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>KopoJspTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 저장해놓고 필요할 때 복붙해서 사용하기 -->
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>

  	<init-param>
	  	<param-name>encoding</param-name>
	  	<param-value>utf-8</param-value>	  
	  </init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <session-config>
  	<session-timeout>20</session-timeout> <!-- 기본 단위가 '분'단위 -->  
  </session-config>
  
<!-- 02ImplicitObject/ApplicationMain2.jsp 실습 -->
<!--   <context-param>
  	<param-name>INIT_PARAM1</param-name>
  	<param-value>초기화변수 1</param-value>
  </context-param>
  
  <context-param>
  	<param-name>INIT_PARAM2</param-name>
  	<param-value>초기화변수 2</param-value>
  </context-param>
  
  <context-param>
  	<param-name>INIT_PARAM3</param-name>
  	<param-value>초기화변수 3</param-value>
  </context-param> -->
  
  
  
  <context-param>
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>  
  
  <context-param>
  	<param-name>OracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
  <context-param>
  	<param-name>OracleID</param-name>
  	<param-value>kopo11</param-value>
  </context-param>

  <context-param>
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
 
 
  
<!--   02ImplicitObject/Exception2.jsp 실습 -->
<!--   <error-page>
  	<error-code>404</error-code>
	<location>/02ImplicitObject/Exception2.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>405</error-code>
	<location>/02ImplicitObject/Exception2.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
	<location>/02ImplicitObject/Exception2.jsp</location>
  </error-page>  -->
  
</web-app>