<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<table>
    <thead>
        <tr>
            <th>게시물번호</th>
            <th>제목</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        <tr><h1 th:text="${notice.title}"></h1></tr>
		<tr><td th:text="${notice.content}"></td></tr>
		<tr><td th:text="${notice.date}"></td></tr>
		<tr><td th:text="${notice.viewcnt}"></td></tr>
    </tbody>
	</table>
</html>