<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<table>
    <thead>
        <tr>
            <th>게시물번호</th>
            <th>제목</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
    </thead>
		<th:if="${notice == null}">
			<td>값이 없다.</td>
		</th:if>
		<th:if="${notice != null}">
        <tr th:each="notice, index : ${noticeList}">
            <td th:text="${notice.noticeId}"></td>
            <td>
                <a th:href="@{|/notice/detail/${notice.noticeId}|}" th:text="${notice.title}"></a>
            </td>
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.date}"></td>
            <td th:text="${notice.viewcnt}"></td>
        </tr>
		</th:if>
	</table>
</html>