<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<style>
	.form-control[readonly] {
		background-color: white;
		/* 다른 스타일 속성을 여기에 추가할 수 있습니다. */
	}
</style>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="table-container deco center inner-bordered">
					<div style="width: 100%; height: 150px;"></div>

					<form method='post' th:object="${detailForm}">
						<table border='1'>
							<!-- 테이블 테두리 1 지정 -->
							<tr>
								<input type='hidden' name='noticeId' value="${oneSelectView.noticeId}"
									class="form-control" readonly>
							</tr>
							<tr>
								<!-- 셀 스타일 지정,text 출력 -->
								<label for="title" class="form-label">제목</label>
								<input type='text' name='title' th:value="${oneSelectView.title}" class="form-control"
									readonly>
							</tr>
							<br />
							<tr>
								<!-- 셀 스타일 지정,text 출력 -->
								<label for="content" class="form-label">내용</label>
								<textarea name="content" th:text="${oneSelectView.content}" readonly
									style="overflow-x: auto; overflow-y: scroll; resize: none;" class="form-control"
									rows="10"></textarea>
								</td>
							</tr>

						</table>

						<br>

						<label for="content" class="form-label">댓글</label>

						<textarea name="content" id="content" rows="15" class="form-control"
							style="max-height: 100px; overflow-x: auto; overflow-y: scroll; resize: none;"
							maxlength="100"></textarea>

						<br><br>
						
						
						
						
						
						
						
						

						<button type="button" class="btn btn-primary"
							onclick="window.location.href='/noticeBoard_list'">글 목록</button>

						<a th:href="@{|/noticeBoard_update?noticeId=${notice.noticeId}|}" class="btn btn-primary"
							th:if="${oneSelectView.id != null and #authentication.getPrincipal().getUsername() == oneSelectView.id.id}"
							sec:authorize="isAuthenticated()">수정</a>

						<a th:href="@{|/noticeBoard_delete?noticeId=${notice.noticeId}|}" class="btn btn-primary"
							th:if="${oneSelectView.id != null and #authentication.getPrincipal().getUsername() == oneSelectView.id.id}"
							sec:authorize="isAuthenticated()">삭제</a>

						<input type="submit" value="댓글등록" sec:authorize="isAuthenticated()" class="btn btn-primary"
							th:action="@{|/noticeComment_create/${notice.noticeId}|}" style="float: right;">

						</table>
					</form>
					
					


					<!--	 댓글 보기 
						<h6 th:text="|${#lists.size(postDetail.comments)}개의 답변이 있습니다.|" class="my-3"></h6>
						<div class="my-2" th:each="comments : ${postDetail.comments}">
							<div class="badge text-dark p-2 text-start d-flex justify-content-between">
								<div class="mb-2">
									<span th:if="${comments.commentUser != null}"
										th:text="${comments.commentUser.id}"></span>
								</div>
								<div class="text-end">
									작성일: <span class="me-2"
										th:text="${#temporals.format(comments.date, 'yyyy-MM-dd HH:mm')}"></span>
									<span th:if="${comments.commentModifiedDate != null}">수정일: </span>
									<span
										th:text="${#temporals.format(comments.commentModifiedDate, 'yyyy-MM-dd HH:mm')}"></span>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="card-text mt-2" style="white-space: pre-line;"
										th:text="${comments.comment}"></div>
									<div class="d-flex justify-content-end mt-3">
										<a th:href="@{|/comment/modify/${comments.commentId}|}"
											class="btn btn-sm btn-outline-secondary me-2"
											sec:authorize="isAuthenticated()"
											th:if="${comments.commentUser != null and #authentication.getPrincipal().getUsername() == comments.commentUser.id}"
											th:text="수정"></a>
										<a href="javascript:void(0);"
											th:data-uri="@{|/comment/delete/${comments.commentId}|}"
											class="delete btn btn-sm btn-outline-secondary"
											sec:authorize="isAuthenticated()"
											th:if="${comments.commentUser != null and #authentication.getPrincipal().getUsername() == comments.commentUser.id}"
											th:text="삭제"></a>
									</div>
								</div>
							</div>
						</div>
						
						
						
					</form>-->



				</div>
			</div>
		</div>
	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>