<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<style>
	
	table{
		margin-left: auto;
		margin-right: auto;
	  	text-align: center; 
		width: 80%; 
		border-collapse: collapse;
		cellspacing:1;
	}	
</style>


<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="table-container deco center inner-bordered">
					<div style="width: 100%; height: 150px;"></div>

					<form method="get">
						<table>
							<tr>
								<td>
									<h2>게시글이 삭제 되었습니다.</h2>
								</td> <!-- text 문구 출력 -->
							</tr>

							<tr height=80px>
								<td align='center'>
									<button type="button" class="btn btn-primary"
										onclick="window.location.href='/noticeBoard_list'">글 목록</button>
							</tr>
						</table>
					</form>


				</div>
			</div>
		</div>

	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>