<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
	<th:block layout:fragment="content">

		<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-9 text-center mt-5">
						<h1 class="heading" data-aos="fade-up">Notice Board</h1>

						<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
							<ol class="breadcrumb text-center justify-content-center">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active text-white-50" aria-current="page">
									Notice Board
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>




		<div style="width: 100%; height: 300px;">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 mb-5 mb-lg-0">
							<div class="contact-info">
								<ul>
									<h3><a href="#"><li>호텔 공지사항</li></a></h3>
									<br>
									<h3><a href="#"><li>고객 리뷰</li></a></h3>

								</ul>
							</div>
						</div>


						<div class="col-lg-8">
							<form id="sortForm" method="get">
								<div class="row">
									<div class="col-12 mb-3">
										<div style="border: 1px solid rgb(192, 192, 192); padding: 10px;">
											<div
												style="display: flex; background-color: rgb(192, 192, 192); font-weight: bold;">
												<div style="flex: 1; width: 80px; padding: 5px; text-align: center;">번호
												</div>
												<div style="flex: 3; padding: 5px; text-align: center;">제목</div>
												<div style="flex: 1; width: 100px; padding: 5px; text-align: center;">
													등록일</div>
												<div style="flex: 1; width: 70px; padding: 5px; text-align: center;">조회수
												</div>
											</div>

											
											
											
										</div>
									</div>
								</div>
							</form>
						</div>



					</div>
				</div>
			</div>
		</div>
		</div>





		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
						<div class="contact-info">
							<i class="icon-room"></i>
							<h4 class="mb-2">Location:</h4>
							<p>
								제주특별자치도 서귀포시 성산읍<br/> 
								섭지코지로 107 SUNSET RESORT 제주
							</p>

							<div class="open-hours mt-4">
								<i class="icon-clock-o"></i>
								<h4 class="mb-2">Open Hours:</h4>
								<p>
									13:00 PM - 10:00 AM
								</p>
							</div>

							<div class="email mt-4">
								<i class="icon-envelope"></i>
								<h4 class="mb-2">Email:</h4>
								<p>SUNSET@resort.com</p>
							</div>

							<div class="phone mt-4">
								<i class="icon-phone"></i>
								<h4 class="mb-2">Call:</h4>
								<p>+1 1234 55488 55</p>
							</div>
						</div>
					</div>





					<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
						<form action="#">
							<div class="row">
								<div class="col-6 mb-3">
									<input type="text" class="form-control" placeholder="Your Name" />
								</div>
								<div class="col-6 mb-3">
									<input type="email" class="form-control" placeholder="Your Email" />
								</div>
								<div class="col-12 mb-3">
									<input type="text" class="form-control" placeholder="Subject" />
								</div>
								<div class="col-12 mb-3">
									<textarea name="" id="" cols="30" rows="7" class="form-control"
										placeholder="Message"></textarea>
								</div>

								<div class="col-12">
									<input type="submit" value="Send Message" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.untree_co-section -->


	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>