<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<style>
	.form-control[readonly] {
		background-color: white;
		/* 다른 스타일 속성을 여기에 추가할 수 있습니다. */
	}
</style>
<script>
    function validateForm() {
        var commentTextarea = document.getElementById("comment");
        if (commentTextarea.value.trim() === "") {
            // Display an error message or perform any other desired action
            alert("댓글을 입력하세요.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>


<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="table-container deco center inner-bordered">
					<div style="width: 100%; height: 150px;"></div>

					<form method='post' th:object="${noticeDto}">
						<table border='1'>
							<!-- 테이블 테두리 1 지정 -->
							<tr>
								<input type='hidden' name='noticeId' value="${oneSelectView.noticeId}"
									class="form-control" readonly>
							</tr>
							<tr>
								<!-- 셀 스타일 지정,text 출력 -->
								<label for="title" class="form-label"><b>제목</b></label>
								<input type='text' name='title' th:value="${oneSelectView.title}" class="form-control"
									readonly>
							</tr>
							<br />
							<tr>
								<!-- 셀 스타일 지정,text 출력 -->
								<label for="content" class="form-label"><b>내용</b></label>
								<textarea name="content" th:text="${oneSelectView.content}" readonly
									style="overflow-x: auto; overflow-y: scroll; resize: none;" class="form-control"
									rows="10"></textarea>
								</td>
							</tr>

						</table>

						<br><br>
						
						<button type="button" class="btn btn-primary"
							onclick="window.location.href='/noticeBoard_list'">글 목록</button>

						<a th:href="@{|/noticeBoard_update?noticeId=${oneSelectView.noticeId}|}" class="btn btn-primary"
							th:if="${oneSelectView.id != null and #authentication.getPrincipal().getUsername() == oneSelectView.id.id}"
							sec:authorize="isAuthenticated()">수정</a>

						<a th:href="@{|/noticeBoard_delete?noticeId=${oneSelectView.noticeId}|}" class="btn btn-primary"
							th:if="${oneSelectView.id != null and #authentication.getPrincipal().getUsername() == oneSelectView.id.id}"
							sec:authorize="isAuthenticated()">삭제</a>
					</form>

						</table>
					
					<br><br>
					
						
				  <form th:action="@{|noticeBoard_detail/${oneSelectView.noticeId}|}" method='post'  th:object="${commentForm}" onsubmit="return validateForm()">
									
						<table border='1'>
							
							<tr>
								<!-- 셀 스타일 지정,text 출력 -->
								<label for="comment" class="form-label"><b>댓글</b></label>
								<textarea name="comment" id="comment" rows="15" class="form-control"
					                  style="max-height: 100px; overflow-x: auto; overflow-y: scroll; resize: none;"
					                  maxlength="100"></textarea>
								<input type="hidden" name="noticeId" value="${oneSelectView.noticeId}">
								</td>
								<br>															
						
								 <input type="submit" value="댓글등록" sec:authorize="isAuthenticated()" class="btn btn-primary"
			               			style="float: right;">
			               			
								<br><br>						
									<p th:text="|${#lists.size(oneSelectView.comments)}개의 답변이 있습니다.|"></p>		
										
								</td>
							</tr>
						</table>
					</form>
					
					<br>
					<form method='post'>
						<table border='1' class="table">
							<colgroup>
								<col style="width: 10%;">
								<col style="width: 50%;">
								<col style="width: 15%;">
								<col style="width: 15%;">
								<col style="width: 10%;">
							</colgroup>
							<thead>
								<tr style="background-color: rgb(221, 221, 221);">
									<th scope="col" style="text-align: center;">번호</th>
									<th scope="col" style="text-align: center;">댓글내용</th>
									<th scope="col" style="text-align: center;">작성일자</th>
									<th scope="col" style="text-align: center;">수정일자</th>
									<th scope="col" style="text-align: center;">작성자</th>
								</tr>
							</thead>
							
							<tbody>
											
								<tr th:each="comments : ${relist}">
									<td th:text="${comments.commentId}" style="text-align: center;vertical-align: middle;"></td>
									<td><pre name="content" th:text="${comments.comment}"style="vertical-align: middle;"></pre></td>
									<td th:text="${#temporals.format(comments.date, 'yyyy-MM-dd')}" style="vertical-align: middle;text-align: center;"></td>
									<td th:text="${#temporals.format(comments.commentModifiedDate, 'yyyy-MM-dd')}" style="vertical-align: middle;text-align: center;"></td>
									<td th:text="${comments.commentUser.id}" style="vertical-align: middle;text-align: center;"></td>
								</tr>
							</tbody>
							
											
							<!--<td align=center><input type='submit' value='삭제' formaction='/reDelete?noticeId=${oneSelectView.noticeId}&reid=${comments.commentId}'
							style="width: 40px; height: 30px; padding: 0px; font-weight: bold;"></td>-->
								
						</table>
					</form>		
					
					
				</div>
			</div>
		</div>
	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>