<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
	<th:block layout:fragment="content">

		<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-9 text-center mt-5">
						<h1 class="heading" data-aos="fade-up">Room Information</h1>

						<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
							<ol class="breadcrumb text-center justify-content-center">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active text-white-50" aria-current="page">
									Properties
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row mb-5 align-items-center">
					<div class="col-lg-6">
						<h2 class="font-weight-bold text-primary heading">
							Room Information
						</h2>
					</div>
					<div class="col-lg-6 text-lg-end">
						<p>
							<a href="#" target="_blank" class="btn btn-primary text-white py-3 px-4">View all Room
							</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="property-slider-wrap">
							<div class="property-slider">
								<div class="property-item">
									<a href="property-single.html" class="img">
										<img src="images/topSuiteRoom.jpg" alt="Image" class="img-fluid" />
									</a>

									<div class="property-content">
										<div class="price mb-2"><span>₩700,000</span></div>
										<div>
											<span class="city d-block mb-3">TOP SUITE ROOM</span>
											<span class="d-block mb-2 text-black-50">
												투숙인원 6명 / 전망 오션뷰
											</span>
											<br class="d-block mb-2 text-black-50">
											<b>- 특별서비스 -</b>
											<br>피트니스센터(수영장 포함)무료 이용
											<br>투숙객 전용 라운지 무료 입장
											<br>전 객실 초고속 무료 인터넷(유선,와이파이)
											<br>조식 서비스 제공</br>
											</span>
											<br>
											<div class="specs d-flex mb-4">
												<span class="d-block d-flex align-items-center me-3">
													<span class="icon-bed me-2"></span>
													<span class="caption">2 beds</span>
												</span>
												<span class="d-block d-flex align-items-center">
													<span class="icon-bath me-2"></span>
													<span class="caption">2 baths</span>
												</span>
											</div>

											<a href="property-single.html" class="btn btn-primary py-2 px-3">See
												details</a>
										</div>
									</div>
								</div>
								<!-- .item -->

								<div class="property-item">
									<a href="property-single.html" class="img">
										<img src="images/familyRoom.jpg" alt="Image" class="img-fluid" />
									</a>

									<div class="property-content">
										<div class="price mb-2"><span>₩400,000</span></div>
										<div>
											<span class="city d-block mb-3">FAMILY ROOM</span>
											<span class="d-block mb-2 text-black-50">
												투숙인원 4명 / 전망 오션뷰
											</span>
											<br class="d-block mb-2 text-black-50">
											<b>- 특별서비스 -</b>
											<br>피트니스센터(수영장 포함)무료 이용
											<br>전 객실 초고속 무료 인터넷(유선,와이파이)
											<br>침구류 추가 제공</br>
											</span>
											<br><br>

											<div class="specs d-flex mb-4">
												<span class="d-block d-flex align-items-center me-3">
													<span class="icon-bed me-2"></span>
													<span class="caption">2 beds</span>
												</span>
												<span class="d-block d-flex align-items-center">
													<span class="icon-bath me-2"></span>
													<span class="caption">2 baths</span>
												</span>
											</div>

											<a href="property-single.html" class="btn btn-primary py-2 px-3">See
												details</a>
										</div>
									</div>
								</div>
								<!-- .item -->

								<div class="property-item">
									<a href="property-single.html" class="img">
										<img src="images/businessRoom.jpg" alt="Image" class="img-fluid" />
									</a>

									<div class="property-content">
										<div class="price mb-2"><span>₩200,000</span></div>
										<div>
											<span class="city d-block mb-3">BUSINESS ROOM</span>
											<span class="d-block mb-2 text-black-50">
												투숙인원 2명 / 전망 오션뷰
											</span>
											<br class="d-block mb-2 text-black-50">
											<b>- 특별서비스 -</b>
											<br>전 객실 초고속 무료 인터넷(유선,와이파이)
											<br>객실 내 스타일러 서비스 제공
											<br>조식 서비스 제공</br>
											</span>
											<br><br>

											<div class="specs d-flex mb-4">
												<span class="d-block d-flex align-items-center me-3">
													<span class="icon-bed me-2"></span>
													<span class="caption">1 beds</span>
												</span>
												<span class="d-block d-flex align-items-center">
													<span class="icon-bath me-2"></span>
													<span class="caption">1 baths</span>
												</span>
											</div>

											<a href="property-single.html" class="btn btn-primary py-2 px-3">See
												details</a>
										</div>
									</div>
								</div>
								<!-- .item -->

								<div class="property-item">
									<a href="property-single.html" class="img">
										<img src="images/standardRoom.jpg" alt="Image" class="img-fluid" />
									</a>

									<div class="property-content">
										<div class="price mb-2"><span>₩100,000</span></div>
										<div>
											<span class="city d-block mb-3">STANDARD ROOM</span>
											<span class="d-block mb-2 text-black-50">
												투숙인원 2명
											</span>
											<br class="d-block mb-2 text-black-50">
											<b>- 특별서비스 -</b>
											<br>전 객실 초고속 무료 인터넷(유선,와이파이)
											<br>객실 내 스타일러 서비스 제공</br>
											</span>
											<br><br><br>

											<div class="specs d-flex mb-4">
												<span class="d-block d-flex align-items-center me-3">
													<span class="icon-bed me-2"></span>
													<span class="caption">1 beds</span>
												</span>
												<span class="d-block d-flex align-items-center">
													<span class="icon-bath me-2"></span>
													<span class="caption">1 baths</span>
												</span>
											</div>

											<a href="property-single.html" class="btn btn-primary py-2 px-3">See
												details</a>
										</div>
									</div>
								</div>
								<!-- .item -->

							</div>

							<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
								<span class="prev" data-controls="prev" aria-controls="property"
									tabindex="-1">Prev</span>
								<span class="next" data-controls="next" aria-controls="property"
									tabindex="-1">Next</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--<div class="row align-items-center py-5">
			<div class="col-lg-3">Pagination (1 of 10)</div>
			<div class="col-lg-6 text-center">
				<div class="custom-pagination">
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
				</div>
			</div>
		</div>-->


	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>