<!DOCTYPE html>
<html>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/join}" th:object="${userDto}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="join-field-error"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="join-field-error"></span>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" th:field="*{name}" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="join-field-error"></span>
        </div>
        <div class="mb-3">
		    <label for="sex" class="form-label">성별</label>
		    <select th:field="*{sex}" class="form-select">
		        <option value="남성">남성</option>
		        <option value="여성">여성</option>
		    </select>
		    <span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="join-field-error"></span>
		</div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="join-field-error"></span>
        </div>

        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>