<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<body>
	<th:block layout:fragment="content">
		<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-9 text-center mt-5">
						<h1 class="heading">회원가입이 완료되었습니다.</h1>

						<nav aria-label="breadcrumb" data-aos-delay="200">
							<ol class="breadcrumb text-center justify-content-center">
								<h3>
									<li class="breadcrumb-item"><a href="/">Home으로 이동</a></li>
								</h3>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>