<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
	<th:block layout:fragment="content">
		
		<div layout:fragment="content" class="container my-3">
			<div style="width: 100%; height: 150px;"></div>

			<div>
				<h4><b>회원가입</b></h4>
				<br>
				<span style="color: red;">( *는 필수 입력항목 입니다. )</span>
			</div>
			
			<br>
			
			<form id="registrationForm" th:action="@{/signUp}" th:object="${userDto}" method="post">
				
				<div class="mb-3">
					<label for="id" class="form-label"><b>아이디 *</b></label>
					<input type="text" th:field="*{id}" class="form-control" placeholder="아이디를 입력하세요." onblur="validateId()">
					<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="join-field-error"></span>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label"><b>비밀번호 *</b></label>
					<input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요." onblur="validatePassword()">
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						colorclass="join-field-error"></span>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label"><b>이메일 *</b></label>
					<input type="text" th:field="*{email}" class="form-control" placeholder="메일주소를 입력하세요." onblur="validateEmail()">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="join-field-error"></span>
				</div>
				
				
				<!--주소 API 추가 구현 부분-->
				<th:block th:replace="fragments/address:: addressFragment"></th:block>
				
				
				<div class="mb-3">
					<label for="name" class="form-label"><b>이름 *</b></label>
					<input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요." onblur="validateName()">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="join-field-error"></span>
				</div>
				<div class="mb-3">
					<label for="sex" class="form-label"><b>성별 *</b></label>
					<select th:field="*{sex}" class="form-select">
						<option value="남성">남성</option>
						<option value="여성">여성</option>
					</select>
					<span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="join-field-error"></span>
				</div>
				<div class="mb-3">
					<label for="phoneNumber" class="form-label"><b>전화번호 *</b></label>
					<input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="전화번호를 입력하세요." onblur="validatePhoneNumber()">
					<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
						class="join-field-error"></span>
				</div>

				<button type="submit" class="btn btn-primary">회원가입</button>
			</form>
		</div>
	</th:block>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>


</html>